# Environment & Secrets
*.env
*.env.*
.env

# Local Dev/IDE Cache & Binaries
.git
.vscode
.idea
proxy
*.exe

# Exclude Docker setup files from container context (Optional)
docker-compose*.yml
Dockerfile*
LICENSE