# Exclude environment secret files
*.env
*.env.*
.env

# Exclude documentation & project configuration
*.md
docker-compose*.yml
Dockerfile*
LICENSE

# Exclude Git and local editor meta-files
.git
.gitignore
.vscode
.idea

# Exclude local build output/cache
dist/
tmp/